Source: programm
Section: utils
Priority: optional
Standards-Version: 1.0
Maintainer: Anton Polskih <o725b17@voenmeh.ru>

Package: programm
Architecture: all
Depends: libc6 (>=2.14), libstdc++6 (>=4.8)
Description: hrenj.
